                       <ul class="list-unstyled">
                               <li class="pull-right"><a href="#top">Back to top</a></li> 
                                       <a href=# rel="nofollow">About eCom Journal</a> | 
                                       <a href=# rel="nofollow">Contact Us</a> | 
                                       <a href=# rel="nofollow">Information for Authors, Reviewers</a> | 
                                       <a href=# rel="nofollow">Terms and Conditions</a>
                       </ul>
                       <p>Copyright &copy; Team 10 except certain content provided by third parties.</p> 