<HTML>
<head>
 <meta charset="ISO-8859-1">
 #include( "/commonElements/head.html" )
 <TITLE>$apptitle</TITLE>
</head>

#parse( "/commonElements/navbar.vm" )
<body>
#if (($session.userRole == "AuthorReviewer") || ($session.userRole == "Editor"))

	<div class="container">
	    <div class="page-header">
	      <br/>
	      <h2>Status of Articles you Reviewed</h2>
        <h4><a href="selected">Goto All Your Choices </a></h4>
        <h4><a href="articles">Goto All Unpublished Articles </a></h4>
	    </div> 
	           <table class="table table-hover">
	    		<tr>
	      			<th>Titles</th>
	      			<th>Chosen</th>
	    			<th>Downloaded</th>
	    			<th>Reviewed</th>
	    		</tr>
	  				
	  				#foreach($article in $artCkeckId)
	  				<tr>
	   			 	</br>
	   			 	#if(!$article.title)
	      				<td>N/A</td>
	      			#else
	      				<td>$article.title</td>
	      			#end
	    			<td>$article.chosen</td>
	      			<td>$article.isDownloaded()</td>
	      			#if(!$article.getDatereviewSubmitted())
	      				<td>N/A</td>
	      			#else
	      				<td>$article.getDatereviewSubmitted()</td>
	      			#end
	      			
	   	    		</tr>
	   	    	#end
		</table>
	</div>
		  
#else

	<div class="jumbotron"> 
	 <div class="container">
      <h2 >Sorry you are not authenticated to access this part of website</h2>
	 </div>
	</div>

#end

</body>
</br>
#parse( "/commonElements/footer.vm" )
</html>