<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>

#parse( "/commonElements/navbar.vm" )
<body>
  <br>
<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="container">
    <br>
    <br>
    <br>
    <div class="col-md-3">
      <div class="panel-group" id="accordion">
	      #foreach($volume in $Volumes) 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#$volume.volumeNo">
          Volume: $volume.volumeNo
        </a>
      </h4>
    </div>
    <div id="$volume.volumeNo" class="panel-collapse collapse in">
    #foreach ($edition in $Editions)
    	#if ($edition.volumeID == $volume.volumeID)
	      <div class="panel-body">
			<a href='browse?editionID=$edition.editionID'><div>Edition: $edition.editionNo</div>
   			<div><i><small>$edition.title</small></i></div></a>
	      </div>
		#end
	#end
	</div>
  </div>
  #end
</div>
</div>

<div class="col-md-8">

#if ($empty)
	<div class="row">
		<div id="results_table">
			<div class="col-md-12">
				<div class="row">
					<div class="well bs-component">
						<h1>List of Articles</h1>
						<div class="row">
							<div class="col-md-10">
								<table class="table table-hover table-responsive table-bordered table-condensed">
									<tbody class="table-hover">
									<tr>
										<td><font color="red">Not articles</font></td> 
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
#end

#if ($editionResults)
	<div class="row">
		<div id="results_table">
			<div class="row">
				<div class="well bs-component">
				   <h1>List of Published Articles</h1>
					<div class="row">
						<div class="col-md-10">
							<table class="table table-hover table-responsive table-bordered table-condensed">
								<tbody class="table-hover">
								#foreach($article in $editionResults) 
								<tr>
									<td>Title: <a href='abstractPage?id=$article.articleID'><strong>$article.title</strong></a> <div><small>Pages: <strong>$article.pageNo</strong></div></td> 
								</tr>
								#end
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




<div class="row">
	<div>
	   <h1>List of Letters</h1>
		 <div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
				 <thead>
						<tr>
							<th>Title</th>
							<th>Message</th>
							<th>Answer</th>
						</tr>
						</thead>
				 <tbody class="table-hover">
					#foreach($letter in $Letters) 
						<tr>
							<td>$letter.title</td>
							<td>$letter.message</td>
							<td>$letter.answer</td>
						</tr>
				    #end
				</tbody>
		</table>
	</div>
	</div>
	</div>
	</div>
#end
	</div>
	</div>
#parse( "/commonElements/footer.vm" )
</html>