<HTML>
<head>
 <meta charset="ISO-8859-1">
 #include( "/commonElements/head.html" )
 <TITLE>$apptitle</TITLE>
</head>

#parse( "/commonElements/navbar.vm" )
<body>
#if (($session.userRole == "AuthorReviewer") || ($session.userRole == "Editor"))

		<a href="javascript: history.go(-1)"><button type="button" class="btn btn-primary">Back</button></a>


<div class="container">
    <div class="page-header">
      <br/>
      <h2>My Articles</h2>
    </div> 
           <table class="table table-hover">
    		<tr>
      			<th>Title</th>
      			<th>Summary</th>
    			<th>Page No</th>
    			<th>Status</th>
    			<th>Actions</th>
    		</tr>
  				
  			#foreach($article in $myArticles)
  				<tr>
	   			 	</br>
	      			<td><a href='abstractPage?id=$article.articleID'>$article.title</a></td>
	    			<td>$article.summary</td>
	      			<td>$article.pageNo</td>
	      			<td>
	      			#set($haveReviews = $allArticles.get($article.articleID))
	      			#if ($haveReviews)
	      				Needs Revision!
	      			#else
	      				No Revision needed!
	      			#end
	      			</td>	
	      			<td> 
	      			    <div class="col-lg-offset-2">
	      			    	#set($haveReviews = $allArticles.get($article.articleID))
	      			    	#if ($haveReviews)
	      						<a href='submitArticleRevision?id=$article.articleID'><button class="btn btn-primary">Submit Revision</button></a>
	      					#end
							<a href='reviews?id=$article.articleID'><button class="btn btn-primary">Reviews</button></a>
						</div>
	      			</td>
   	    		</tr>
   	    	#end
	</table>
	</div>
	  
#else

	<div class="jumbotron"> 
 	 <div class="container">
      <h2 >Sorry you are not authenticated to access this part of website</h2>
	 </div>
	</div>

#end

</body>
</br>
#parse( "/commonElements/footer.vm" )
</html>
