<HTML>
<head>
 <meta charset="ISO-8859-1">
 #include( "/commonElements/head.html" )
 <TITLE>$apptitle</TITLE>
</head>

#parse( "/commonElements/navbar.vm" )
<body>
#if(!$session.user.name)
<div class="jumbotron"> 

             <div class="container">
             
<h2 >Sorry you are not authenticated to access this part of website</h2>
</div>
</div>

#else
<div class="container">
    <div class="page-header">
      <br/>
      <h2>My Articles</h2>
    </div> 
           <table class="table table-hover">
    		<tr>
      			<th>Title</th>
      			<th>Summary</th>
    			<th>Page No</th>
    			<th>Revisions</th>
    			<th>Status</th>
    			<th>Actions</th>
    		</tr>
  				
  			#foreach($article in $myArticles)
  				<tr>
	   			 	</br>
	      			<td>$article.title</td>
	    			<td>$article.summary</td>
	      			<td>$article.pageNo</td>
	      			<td>
	      			#foreach($rev in $articleRevisions)
	      				<div>$rev.filePath</div>
	      			#end
	      			</td>
	      			<td>
	      			#if ($haveReviews)
	      				Needs Revision!
	      			#else
	      				status here
	      			#end
	      			</td>	
	      			<td> 
	      			    <div class="col-lg-offset-2">
	      			    	#if ($haveReviews)
	      						<a href='submitArticleRevision?id=$article.articleID'><button class="btn btn-primary">Submit Revision</button></a>
	      					#end
							<a href='reviews?id=$article.articleID'><button class="btn btn-primary">Reviews</button></a>
						</div>
	      			</td>
   	    		</tr>
   	    	#end
	</table>
	   </div>
	  
#end
</body>
</br>
#parse( "/commonElements/footer.vm" )
</html>