<HTML>
<head>
 <meta charset="ISO-8859-1">
 #include( "/commonElements/head.html" )
 <TITLE>$apptitle</TITLE>
</head>

#parse( "/commonElements/navbar.vm" )
<body>
#if (($session.userRole == "AuthorReviewer") || ($session.userRole == "Editor"))

<div class="container">
    <div class="page-header">
      <br/>
      <h2>Publish Articles</h2>
    </div> 
           <table class="table table-hover">
    		<tr>
				<th>Title</th>
	   			<th>Summary</th>
    			<th>Number of Pages</th>
    			<th>Actions</th>
    		</tr>
  				
  			#foreach($article in $myArticles)
  				<tr>
	   			 	</br>
	      			<td><a href='abstractPage?id=$article.articleID'>$article.title</a></td>
	    			<td>$article.summary</td>
	      			<td>$article.pageNo</td>
	      			<td> 
	      			    <div class="col-lg-offset-2">
	      					<a href='publishArticle?id=$article.articleID'><button class="btn btn-primary">Publish Article</button></a>
	      					<a href='reviews?id=$article.articleID'><button class="btn btn-primary">Reviews</button></a>
						</div>
	      			</td>
   	    		</tr>
	
			#end
</div>
	  
#else

	<div class="jumbotron"> 
 	 <div class="container">
      <h2 >Sorry you are not authenticated to access this part of website</h2>
	 </div>
	</div>

#end

</div>
</body>
</html>
