<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>

<body>
#parse( "/commonElements/navbar.vm" )
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
</div>

<div class="col-md-12">
#if($userRole == "Editor")

    #if ($successfully) 
	<div class="alert alert-success alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong>$successfully
	</div>
   	#end
	#if ($error) 
	<div class="alert alert-danger alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong>$error
	</div>
   	#end

   #if ($Articles)
	<div class="row">
		<div id="results_table">
			<div>
				<div class="row">
					<div>
						<h1>Recent Reviews</h1>
						<div class="row">
							<div class="col-md-10">
								<table class="table table-hover">
									<thead>
								      <tr>
								        <th>Article</th>
								        <th>Review</th>
								        <th></th>
								      </tr>
								    </thead>
									<tbody class="table-hover">
									#foreach ($review in $Reviews)
										#foreach($article in $Articles) 
											#if ($review.articleID == $article.articleID)
											<tr>
												<td><a href='abstractPage?id=$article.articleID'>$article.title</a></td>
												<td>
														$review.summary
														
														#foreach ($authorReviewer in $AuthorReviewers)
															#if ($authorReviewer.authorReviewerID == $review.authorReviewerID)
																| $authorReviewer.name
																
															<form action="recentReviews" method="post" class="form-horizontal">
																<input id="name" name="name" type="hidden" value="$authorReviewer.name">
																<input id="title" name="title" type="hidden" value="$article.title">
																<input id="email" name="email" type="hidden" value="$authorReviewer.email">
															
																<input id="reviewID" name="reviewID" type="hidden" value="$review.reviewID">
																<input id="authorReviewerID" name="authorReviewerID" type="hidden" value="$review.authorReviewerID">
																<div class="col-lg-10 col-lg-offset-2">
																	<button type="submit" class="btn btn-primary">Reject Review</button>
																</div>
															</form>
															#end
														#end
												</td>
												<td></td>
											</tr>
											#end
										#end
									#end
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   #end
   		#if ($status)
			<h1>$status</h1>
		#end
	#else
		<h2 >Sorry you are not authenticated to access this part of website</h2>
	#end
</div>

#parse( "/commonElements/footer.vm" )
</body>
</html>