<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>

<body>
#parse( "/commonElements/navbar.vm" )
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
</div>

<div class="col-md-12">
#if(($userRole == "Editor")|| ($userRole == "AuthorReviewer")) 
		
   #if ($Reviews)
      <div class="row">
		<div class="row">
		   <div>
			 <h1>List of Reviews</h1>
				<div class="row">
					<div class="col-md-10">
						<table class="table table-hover">
							<thead>
						      <tr>
						        <th>Judgment</th>
						        <th>Expertise</th>
						        <th>Summary</th>
								<th>Small Errors</th>
								<th>Criticism and Response</th>
						      </tr>
						    </thead>
							<tbody class="table-hover">
							#foreach($review in $Reviews) 
							<tr>
								<td>$review.judgement</td>
								<td>$review.expertise</td>
								<td>$review.summary</td>
								<td>$review.smallErrors</td>
								<td>
								#foreach($criticism in $Criticisms)
									<div>criticism: $criticism.criticism</div>
									
									#foreach ($response in $Responses)
										#if ($response.criticismID == $criticism.criticismID)
										<div>response: $response.responseText </div>
										#end
									#end 
								#end
								</td>
							</tr>
							#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	#else
	<h1>Nothing to see here.</h1>
	#end

		
		
	#else
		<h2 >Sorry you are not authenticated to access this part of website</h2>
	#end
</div>

#parse( "/commonElements/footer.vm" )
</body>
</html>