<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>

<body>
#parse( "/commonElements/navbar.vm" )
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
	
<div class="col-md-12">
#if($userRole == "Editor")
   #if ($Articles)
	<div class="row">
		<div id="results_table">
			<div class="col-lg-12">
				<div class="row">
					<div class="well bs-component">
						<h2>List of Articles</h2>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-hover table-responsive table-bordered table-condensed">
									<thead>
								      <tr>
								        <th>Article</th>
								        <th>Pages</th>
								        <th>Article Revision(s)</th>
								        <th></th>
								      </tr>
								    </thead>
									<tbody class="table-hover">
									#foreach($article in $Articles) 
									<tr>
										<td><a href='abstractPage?id=$article.articleID'>$article.title</a></td>
										<td>$article.pageNo</td> 
										
										<td>
										#foreach($articleRevision in $ArticleRevisions) 
											#if ($article.articleID == $articleRevision.articleID)
												<div><small>RevisionNo: $articleRevision.articleRevisionID | date: $articleRevision.dateSubmitted | FilePath: 
											
												<form action="systemManagement" method="post" class="form-horizontal">
													<input id="articleRevisionID" name="articleRevisionID" type="hidden" value="$articleRevision.articleRevisionID">
													<input id="articleID" name="articleID" type="hidden" value = "$article.articleID">
													<input id="download" name="download" type="hidden" value = "1">
													<button type="submit" class="btn btn-primary">Download</button>
												</form>
											#end
										#end
										</td>
										
										<td><a href='reviews?id=$article.articleID'>Reviews</a></td>
										
									</tr>
									
									#end
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   #end

		
		
	#else
		<h2 >Sorry you are not authenticated to access this part of website</h2>
	#end
	</div>
</div>

#parse( "/commonElements/footer.vm" )
</body>
</html>