<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VMApp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetWelcome</display-name>
    <servlet-name>GetWelcome</servlet-name>
    <servlet-class>GetWelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWelcome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class> org.apache.velocity.tools.view.servlet.VelocityViewServlet </servlet-class>
    <init-param>
      <param-name>org.apache.velocity.toolbox</param-name>
      <param-value>/WEB-INF/toolbox.xml</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvanceSearch</display-name>
    <servlet-name>AdvanceSearch</servlet-name>
    <servlet-class>AdvanceSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvanceSearch</servlet-name>
    <url-pattern>/advanceSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subscribe</display-name>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbstractPage</display-name>
    <servlet-name>AbstractPage</servlet-name>
    <servlet-class>AbstractPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractPage</servlet-name>
    <url-pattern>/abstractPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Browse</display-name>
    <servlet-name>Browse</servlet-name>
    <servlet-class>Browse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/browse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitArticle</display-name>
    <servlet-name>SubmitArticle</servlet-name>
    <servlet-class>SubmitArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitArticle</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>UserManagement</display-name>
    <servlet-name>UserManagement</servlet-name>
    <servlet-class>UserManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/userManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemManagement</display-name>
    <servlet-name>SystemManagement</servlet-name>
    <servlet-class>SystemManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemManagement</servlet-name>
    <url-pattern>/systemManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJournal</display-name>
    <servlet-name>EditJournal</servlet-name>
    <servlet-class>EditJournal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJournal</servlet-name>
    <url-pattern>/journal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnpublishedArticles</display-name>
    <servlet-name>UnpublishedArticles</servlet-name>
    <servlet-class>UnpublishedArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnpublishedArticles</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reviews</display-name>
    <servlet-name>Reviews</servlet-name>
    <servlet-class>Reviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reviews</servlet-name>
    <url-pattern>/reviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewerManagement</display-name>
    <servlet-name>ReviewerManagement</servlet-name>
    <servlet-class>ReviewerManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewerManagement</servlet-name>
    <url-pattern>/reviewerManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentReviews</display-name>
    <servlet-name>RecentReviews</servlet-name>
    <servlet-class>RecentReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentReviews</servlet-name>
    <url-pattern>/recentReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVolume</display-name>
    <servlet-name>EditVolume</servlet-name>
    <servlet-class>EditVolume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVolume</servlet-name>
    <url-pattern>/editVolume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEdition</display-name>
    <servlet-name>EditEdition</servlet-name>
    <servlet-class>EditEdition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEdition</servlet-name>
    <url-pattern>/editEdition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleStatusServlet</display-name>
    <servlet-name>ArticleStatusServlet</servlet-name>
    <servlet-class>ArticleStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleStatusServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectedArticlesForReview</display-name>
    <servlet-name>SelectedArticlesForReview</servlet-name>
    <servlet-class>SelectedArticlesForReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedArticlesForReview</servlet-name>
    <url-pattern>/selected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewFormServlet</display-name>
    <servlet-name>ReviewFormServlet</servlet-name>
    <servlet-class>ReviewFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewFormServlet</servlet-name>
    <url-pattern>/reviewForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DownloadArticleReviewer</display-name>
    <servlet-name>DownloadArticleReviewer</servlet-name>
    <servlet-class>DownloadArticleReviewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadArticleReviewer</servlet-name>
    <url-pattern>/downloadArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcknowledgeReviewServlet</display-name>
    <servlet-name>AcknowledgeReviewServlet</servlet-name>
    <servlet-class>AcknowledgeReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcknowledgeReviewServlet</servlet-name>
    <url-pattern>/acknowledge</url-pattern>
  </servlet-mapping>
</web-app>