<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>
#parse( "/commonElements/navbar.vm" )
<body>

<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<p>mpla mpla - Article id: $articleID</p>
	</div>
#parse( "/commonElements/footer.vm" )
</body>
</html>