<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>
#parse( "/commonElements/navbar.vm" )
<body>
<!-- <script src="assets/js/advanceSearch.js" type="text/javascript"></script>
<script src="assets/js/onLoad.js" type="text/javascript"></script> -->

<div class="jumbotron"></div>

<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-7 col-md-10 col-md-push-3">
			<!-- Forms================================================== -->
			<div class="bs-docs-section">
				<div class="row">
					<div class="col-lg-12">
						<div class="well bs-component">
							<form action="advanceSearch" id="advanceSearch" method="post"
								class="form-horizontal">
								<fieldset>
								<input id="flag" name="flag" type="hidden" value = "1">
									<legend>Advance Search: Choose from the dropdown box which category you want to search!</legend>
									<div class="form-group">
										<label for="tweetData" class="col-lg-2 control-label">Twitter
											Name:</label>
										<div class="col-lg-8">
											<input type="text" class="form-control" name="twitterID"
												id="twitterID"
												placeholder="Enter Twitter ID or type * to view all"
												required>
										</div>
												
										<select name="item" class="input-sm col-lg-2" required>
										    <option value="article">Article</option>
										    <option value="author">Author</option>
										    <option value="keywords">keywords</option>
										</select>
									</div>
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
											<button type="submit" class="btn btn-primary">Submit</button>
											<input type="reset" class="btn btn-default" value="Reset" />
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <img src="assets/img/ajax-loader.gif" id="loading_bar" align="middle"> -->
	<div class="row">
		<div id="results_table">
			<div class="col-lg-7 col-md-10 col-md-push-3">
				<div class="row">
					<div class="well bs-component">
						<h1>List of Saved User Tweets</h1>
						<div class="row">
							<div class="col-md-10">
								<table
									class="table table-hover table-responsive table-bordered table-condensed">
									<thead>
										<tr>
											<th><b>Picture</b>
											<th><b>Twitter Username</b>
											<th><b>Location</b>
											<th><b>Description</b>
											<th><b>Tweet</b>
											<th><b>ReTweet</b>
										</tr>
									</thead>
									<tbody class="table-hover" id="results">
									<td>
									#foreach($title in $searchResults) 
										<tr>$title</tr> 
									#end
									</td>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
</body>
#parse( "/commonElements/footer.vm" )
</html>