<HTML>
<head>
  <meta charset="ISO-8859-1">
  #include( "/commonElements/head.html" )
  <TITLE>$apptitle</TITLE>
</head>

<body>
#parse( "/commonElements/navbar.vm" )
<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
	
	   	#if ($successfully) 
   		<div class="alert alert-success alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>$successfully
		</div>
   		#end
   		#if ($error) 
   		<div class="alert alert-danger alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>$error
		</div>
   		#end
		#if (!$session.user.email)
			<h3>Hello, Guest User!</h3>
		#else
			<h4>Hello, $session.user.name $session.user.surname!</h4>
		#end
</div>
    <div style="font-family:verdana;padding:20px;border-radius:10px;border:10px solid #578fc1;">
		<h2><div style="letter-spacing:12px;">Science Journal</div><h2>
      <h4><p>A leading full-text scientific database offering journal,articles related to Science discoveries.</p></h4>
  </div>
<div class=>
	<div class="col-lg-6">
		<div class="bs-component">
      <br>
      <br>
			<div class="well">
        <h4><a href="subscribe">Subscribe</a> </h4>
        <p>Alert me about new articles</p>
      </div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="bs-component">
      <br>
      <br>
			<div class="well">
        <form action="download"  method="post">
          <input type="hidden" id="downloadTitle" name="downloadTitle" value="Submission_GuideLines">
          <form enctype="multipart/form-data">
            <input type="submit" class="btn btn-primary" id ="download" value="Submission Guidelines" />
          </form>
        </form>
        <p>Get the guidelines for submitting an article</p>
			</div>
		</div>
      <br>
      <br>
	</div>
#parse( "/commonElements/footer.vm" )
</body>
</html>
