<HTML>
<head>
 <meta charset="ISO-8859-1">
 #include( "/commonElements/head.html" )
 <TITLE>$apptitle</TITLE>
 <script>
$('#selectedArticles').click(function() {
location.reload();
});
 </script>
</head>
#parse( "/commonElements/navbar.vm" )

<body onload="load($artCheck)">
#if(!$session.user.name)
<div class="jumbotron"> 
  <div class="container">          
    <h2 >Sorry you are not authenticated to access this part of website</h2>
  </div>
</div>

#else

<div class="container">

    <div class="page-header">
      <br/>
      <h1>List of your selected Articles</h1>
    </div>
      <div class="col-md-9">
      
      #if($message)
        <h6> $message</h6>
      #end

      <h4><a href="articles">Goto All Unpublished articles</a></h4>
      <h4><a href="status">Check your Review Status </a></h4>
      #foreach($article in $artCkeckId)
        
        <form id="selectedArticles" name="selectedArticles" action="selected" method="post" class="form-horizontal" onsubmit="setTimeout('parent.location.reload()',500); return true;"> 
        
             <div class="panel-group" id="accordion"  >
             	  <div class="panel panel-default" >
                    
                    <div class="panel-heading">
                     		<h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#$article.getArticleID()">$article.getTitle()</a>
                        </h4>
                  	</div>
                     
                		<div id="$article.articleID" class="panel-collapse collapse in">
                   			<div class="panel-body">
                     				<p>Summary: $article.getSummary() </p>
                   			</div>
                 		</div>
                    
               	</div>
            </div>
            	
          
              <div class="col-md-4">
                <h5>To unselect the chosen article click "Unselect"</h5>
                <input type="hidden" id="$article.getArticleID()" name="unselect" value="$article.getArticleID()">
                <input type="submit" class="btn btn-primary" value="Unselect"/>
              </div>
          </form>
          
          <div class="col-md-4">
            <form enctype="multipart/form-data" action="download"  method="post">
            <h5>To download full version of article </h5>
              <input type="hidden" id="downloadTitle" name="downloadTitle" value="Article_Review">
              <li><a href="reviewForm">Download</a></li>
	          </form>
          </div>
          
          <div class="col-md-4">
          	<form action="reviewForm" method="post" class="form-horizontal">
                <h5>Review this Article </h5>
              	<input type="hidden" id="reviewArt" name="reviewArt" value="$article.getArticleID()"/>
              	<input type="submit" class="btn btn-primary" value="Review"/>
               </form>
              </div>
           	
              
          <hr width=100% align=left>
          <br><br>
        #end
        </div>
    <script type="text/javascript" src="assets/js/checkbox.js"> </script>
</div>
#end
<script>
function load(id){
for(var i in id){
console.log(i.value);
}
}
</script>
</body>
</br>
#parse( "/commonElements/footer.vm" )
</html>