<HTML>
<head>
 <meta charset="ISO-8859-1">
 #include( "/commonElements/head.html" )
 <TITLE>$apptitle</TITLE>
</head>
#parse( "/commonElements/navbar.vm" )
<body>
#if (($session.userRole == "AuthorReviewer") || ($session.userRole == "Editor"))

<script src="assets/js/Success.js" type="text/javascript"></script>
  <div class="container">
    <div class="page-header">
      
      <br/>

      #if ($message)
      <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>$message
      </div>
      #end
            <h1>Instructions for Article Review Process</h1>
        </div> 
             	<div class="col-md-10">
             	  <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                       How to Review Pending Articles (click)
                       </a>
                     </h4>
                   </div> 
                 <div id="collapse1" class="panel-collapse collapse ">
                   <div class="panel-body">
                     Read the summary of Unpublished Articles.
             		 Select at least three pending articles from the list of "Unpublished articles".
                     From your chosen articles you can download the full preview of unpublished article.
                     You will have a week to submit your review.
                     You must review at least 3 unpublished articles.
                   </div>
                 </div>
               </div>
             </div>
             	  <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                       Qualities to be sought (click)
                       </a>
                     </h4>
                   </div> 
                 <div id="collapse2" class="panel-collapse collapse ">
                   <div class="panel-body">
             		     Qualities required :
                     1.quality
                     1.quality
                     1.quality
                     1.quality
                   </div>
                 </div>
               </div>
             </div>
             	  <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                       How to Complete Review form (click)
                       </a>
                     </h4>
                   </div> 
                 <div id="collapse3" class="panel-collapse collapse ">
                   <div class="panel-body">
             		     Complete Review form
                     1.review
                     1.review
                     1.review
                     1.review
                     1.review
                   </div>
                 </div>
               </div>
             </div>
           </div>
           
                   
               <!-- Example row of columns -->
               <div class="row">
                 #if($userRole == "Editor")
                 <div class="col-md-4">
					         <br>
                   <form action="upload"  method="post" enctype="multipart/form-data"> 
             					<div class="radio">
             						<label><h4>Choose the template you want to upload.</h4></label><br>
             							<input type="radio" name="uploadTitle"  value="Article_Review">Instructions for Review process.<br>
             							<input type="radio" name="uploadTitle"  value="Submission_Guidelines">Guidelines for submitting an article.<br>
             							<input type="radio" name="uploadTitle"  value="Style_template">Default style template for Articles<br>
             					 </div>
					             <input type="file" name="file" size="50" />
                       <br>
                       <input type="submit"  id ="upload" value="Upload File" />
					           </form>
				         </div>
                 #end
				
				         <div class="col-md-4">
					         <h5>Download the Instructions for Peer Review:</h5>
                   <form action="download"  method="post">
            					<div class="radio">
            						<label><h4>Choose the template you want to download.</h4></label><br>
            							<input type="radio" name="downloadTitle"  value="Article_Review">Instructions for Review process.<br>
            							<input type="radio" name="downloadTitle"  value="Submission_Guidelines">Guidelines for submitting an article.<br>
            							<input type="radio" name="downloadTitle"  value="Style_template">Default style template for Articles<br>
            					 </div>
                     <form enctype="multipart/form-data">
					             <input type="submit"  id ="download" value="Download File" />
					           </form>
                   </form>
				         </div>
               </div>
      </div>
#else

	<div class="jumbotron"> 
	 <div class="container">
	  <h2 >Sorry you are not authenticated to access this part of website</h2>
	 </div>
	</div>

#end

</body>
</br>
#parse( "/commonElements/footer.vm" )
</html>